{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel Vendedor</title>
  <link rel="stylesheet" href="{% static 'api_venta/css/vendedor_site.css' %}">
</head>
<body>
  <div class="admin-panel">
    <h1>Bienvenido Vendedor</h1>
    <h2>¿Qué desea hacer hoy?</h2>

    <div class="options">
      <a class="option-btn" href="{% url 'lista_vendedor' %}">🛠️ Ver Productos</a>
      <a class="option-btn" href="{% url 'aprobar_rechazar' %}">🛠️ Ver Pedidos</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
    
  </div>
</body>
</html>
