{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña Staff</title>
    <link rel="stylesheet" href="{% static 'api_usuario/css/forgot-password-staff.css' %}">
</head>
<body>
    <div class="forgotPasswordForm-container">
        <h2>Cambiar Contraseña (Staff)</h2>
        <form id="forgotPasswordForm">
            <input type="text" id="nombre" placeholder="Nombre usuario" required>
            <input type="password" id="nueva_password" placeholder="Nueva contraseña" required>
            <button type="submit">Cambia Contraseña</button>
        </form>
        <div id="mensaje" style="margin-top: 10px;"></div>
    </div>
    <script src="{% static 'api_usuario/js/forgot-password-staff.js' %}"></script>
</body>
</html>