{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Cliente - Ferremas</title>
    <link rel="stylesheet" href="{% static 'api_usuario/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form id="login-form">
            <input type="email" id="email" placeholder="Correo electrónico" required>
            <input type="password" id="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
        <p id="message"></p>

        <!-- Botón cancelar -->
        <a href="/" class="cancel-btn">← Cancelar</a>
    </div>
    <script src="{% static 'api_usuario/js/login.js' %}"></script>
</body>
</html>
